.container {
  position: absolute; /* Utiliser position: absolute pour fixer le conteneur */
  left: 0; /* Définir la position de gauche du conteneur à 0 */
  right: 0; /* Définir la position de droite du conteneur à 0 */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px; /* Définir la hauteur du header à 60px */
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}
